
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');


.fonts-raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
};